button.button {
  padding: 1rem;
  color: var(--color-highlight);
  background-color: inherit;
  border: 2px solid;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

button.button:hover {
  background-color: var(--color-background-highlight);
  transition: background-color 0.25s ease-in;
}
