.headernarrow {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  width: calc(100% - 50px);
  height: var(--nav-height);
  padding: 0px 25px 0px 25px;
  z-index: 100;
  background-color: var(--color-background);
}

.logocontainer {
  flex-grow: 1;
}

.logocontainer a.logo {
  text-decoration: none;
  color: var(--color-highlight);
  font-weight: bold;
  padding: 0.75rem;
  border-color: var(--color-highlight);
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}

.logocontainer a.logo:hover {
  background-color: var(--color-background-highlight);
  transition: background-color 0.25s ease-in-out;
}

.hamburgercontainer {
  position: absolute;
  top: 0px;
  right: 0px;
  display: grid;
  grid-template-rows: var(--nav-height) auto;
  width: 400px;
  height: 100vh;
  background-color: var(--color-hamburger-background);
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out, visibility 0.25s;
  visibility: hidden;
}

.hamburgercontainer.unhide {
  visibility: visible;
  transform: translateX(0);
}

.hamburgermenucontainer {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* width: 350px;
  height: 100vh;
  right: 0px;
  top: 0px; */
  /* z-index: 99; */
  background-color: var(--color-hamburger-background);
}

.hamburgerbuttoncontainer {
  padding-right: 25px;
  position: relative;
  justify-self: end;
  align-self: center;
  /* background-color: var(--color-hamburger-background); */
  z-index: 11;
}

.hamburgerbuttoncontainer.dark {
  /* background-color: var(--color-background); */
  padding-right: 0px;
  /* z-index: 9; */
}
