.introcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.introcontainer svg circle.circleprogress {
  fill: none;
  stroke-width: 5px;
  stroke: var(--color-highlight);
  stroke-dasharray: 628;
  animation: circleanimation 3s ease-in-out;
}

.introcontainer .introtext {
  position: absolute;
  color: var(--color-highlight);
  font-weight: bold;
  font-size: var(--font-size-large);
}

.introcontainer * {
  animation: introoutro 1s ease-in-out 1.5s forwards;
}

@keyframes circleanimation {
  from {
    stroke-dashoffset: 628;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes introoutro {
  0% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0, 0);
  }
}
