a.linkoverrides {
  text-decoration: none;
}

a .index {
  padding-left: 1.5rem;
  padding-right: 0.25rem;
  color: var(--color-highlight);
  font-weight: bold;
}

a .text {
  color: var(--color-primary);
  transition: color 0.2s ease-in;
  padding-right: 1.5rem;
}

a .text:hover {
  color: var(--color-highlight);
}
