.navigationleftcontainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 40%;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: var(--side-padding);
  z-index: 19;
}

.navigationleftcontainer .link {
  width: 24px;
  height: 24px;
  color: var(--color-primary);
  transition: all 0.25s ease-in-out;
}

.navigationleftcontainer .link:hover {
  color: var(--color-highlight);
  transform: translateY(-5px);
}

.navigationleftcontainer .line {
  height: 150px;
  width: 1px;
  background-color: var(--color-primary);
}
