.navigationrightcontainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
  bottom: 0px;
  right: 0px;
  width: var(--side-padding);
  z-index: 19;
}

.navigationrightcontainer a {
  flex-grow: 1;
  writing-mode: vertical-rl;
  font-size: inherit;
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.1s ease-in-out;
}

.navigationrightcontainer a:hover {
  color: var(--color-highlight);
  transform: translateY(-5px);
}

.navigationrightcontainer .line {
  /* flex-shrink: 1; */
  /* padding-top: 50px; */
  height: 150px;
  width: 1px;
  background-color: var(--color-primary);
}
